.intro {
  position: relative;
  color: white;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: black;
    opacity: 0.45;
    z-index: 20;
  }
  &__slider {
    height: 100vh;
  }
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    z-index: 100;
    bottom: 90px;
    left: 75px;
    @include laptop {
      left: 30px;
      bottom: 40px;
    }
    @include mobile {
      left: 15px;
      bottom: 20px;
    }
  }
  &__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 1.2px;
    margin: 0px 0px 12px 0px;
    @include laptop {
      font-size: 52px;
    }
    @include laptop-min {
      font-size: 44px;
    }
    @include tablet {
      font-size: 36px;
    }
  }
  &__content {
    margin: 0;
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: 0.85px;
  }
}
