<section class="articles" id="events">
  <div class="container articles__container">
    <article class="articles__item">
      <img src="@img/article.jpg" alt="image" class="articles__img" />
      <h5 class="articles__item-title">Корпоратив</h5>
      <span class="articles__item-name">«Восток Сервис» 2024</span>
      <a href="@img/about.jpg" data-fancybox="articles" class="btn-main articles__item-btn">Смотреть</a>
    </article>
    <article class="articles__item">
      <img src="@img/article.jpg" alt="image" class="articles__img" />
      <h5 class="articles__item-title">Корпоратив</h5>
      <span class="articles__item-name">«Восток Сервис» 2024</span>
      <a href="@img/about.jpg" data-fancybox="articles" class="btn-main articles__item-btn">Смотреть</a>
    </article>
    <article class="articles__item">
      <img src="@img/article.jpg" alt="image" class="articles__img" />
      <h5 class="articles__item-title">Корпоратив</h5>
      <span class="articles__item-name">«Восток Сервис» 2024</span>
      <a href="@img/about.jpg" data-fancybox="articles" class="btn-main articles__item-btn">Смотреть</a>
    </article>
    <article class="articles__item">
      <img src="@img/article.jpg" alt="image" class="articles__img" />
      <h5 class="articles__item-title">Корпоратив</h5>
      <span class="articles__item-name">«Восток Сервис» 2024</span>
      <a href="@img/about.jpg" data-fancybox="articles" class="btn-main articles__item-btn">Смотреть</a>
    </article>
    <article class="articles__item">
      <img src="@img/article.jpg" alt="image" class="articles__img" />
      <h5 class="articles__item-title">Корпоратив</h5>
      <span class="articles__item-name">«Восток Сервис» 2024</span>
      <a href="@img/about.jpg" data-fancybox="articles" class="btn-main articles__item-btn">Смотреть</a>
    </article>
  </div>
</section>
