<div class="header">
  <div class="container">
    <button class="btn header__burger-btn" id="burger-btn">
      <div></div>
      <div></div>
      <div></div>
    </button>
    <nav class="header__nav" id="burger">
      <ul class="list header__list">
        <li><a href="#events" class="anchor">Мероприятия</a></li>
        <li><a href="#price" class="anchor">Стоимость услуг</a></li>
        <li><a href="#reviews" class="anchor">Отзывы</a></li>
        <li><a href="#contacts" class="anchor">Контакты</a></li>
      </ul>
    </nav>
  </div>
</div>