<section class="intro">
  <div class="swiper intro__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="@img/intro.jpg" alt="image" class="intro__slide-img" />
      </div>
      <div class="swiper-slide">
        <img src="@img/intro.jpg" alt="image" class="intro__slide-img" />
      </div>
      <div class="swiper-slide">
        <img src="@img/intro.jpg" alt="image" class="intro__slide-img" />
      </div>
      <div class="swiper-slide">
        <img src="@img/intro.jpg" alt="image" class="intro__slide-img" />
      </div>
    </div>
  </div>
  <div class="intro__info">
    <h1 class="intro__title">Максим Смирнов</h1>
    <p class="intro__content">Более 100 успешно проведенных мероприятий!</p>
  </div>
</section>
