<section class="price" id="price">
  <div class="container">
    <h2 class="title-2">Стоимость услуг</h2>
    <ul class="list price__list">
      <li class="price__item">
        <span class="price__item-title">Проведение свадьбы</span>
        <div class="price__item-line"></div>
        <span class="price__number">1700р</span>
      </li>
      <li class="price__item">
        <span class="price__item-title">Проведение свадьбы</span>
        <div class="price__item-line"></div>
        <span class="price__number">1700р</span>
      </li>
      <li class="price__item">
        <span class="price__item-title">Проведение свадьбы</span>
        <div class="price__item-line"></div>
        <span class="price__number">1700р</span>
      </li>
      <li class="price__item">
        <span class="price__item-title">Проведение свадьбы</span>
        <div class="price__item-line"></div>
        <span class="price__number">1700р</span>
      </li>
      <li class="price__item">
        <span class="price__item-title">Проведение свадьбы</span>
        <div class="price__item-line"></div>
        <span class="price__number">1700р</span>
      </li>
      <li class="price__item">
        <span class="price__item-title">Проведение свадьбы</span>
        <div class="price__item-line"></div>
        <span class="price__number">1700р</span>
      </li>
    </ul>
  </div>
</section>
