<section class="skills">
  <div class="container skills__container">
    <div class="skills__info">
      <h2 class="skills__title">
        Создадим атмосферу на вашей вечеринке вместе! С комфортам для молодых и
        ваших гостей. <br />
        <br />
        Наша команда организует для вас:
      </h2>
      <ul class="list skills__list">
        <li class="skills__item">Квест игры</li>
        <li class="skills__item">Караоке</li>
        <li class="skills__item">DJ + Тяжелый дым 😎</li>
        <li class="skills__item">Саксофонист + экран 🎬</li>
        <li class="skills__item">Работаю на FM/TV "massmedia" 👌</li>
        <li class="skills__item">Поставленный голос приятный на слух 🎞</li>
      </ul>
    </div>
    <div class="skills__slider-wrapper">
      <div class="swiper skills__slider">
        <div class="swiper-wrapper">
          <a
            href="@img/slider.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider.jpg" alt="" class="skills__slider-img" />
          </a>
          <a
            href="@img/slider-2.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider-2.jpg" alt="" class="skills__slider-img" />
          </a>
          <a
            href="@img/slider-3.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider-3.jpg" alt="" class="skills__slider-img" />
          </a>
          <a
            href="@img/slider-4.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider-4.jpg" alt="" class="skills__slider-img" />
          </a>
        </div>
      </div>
      <div class="slider-nav">
        <button class="btn slider-nav__btn _prev">
          <svg class="slider-nav__btn-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-full"></use>
          </svg>
        </button>
        <div class="slider-nav__number">
          <span>1</span>
          <div class="slider-nav__number-line"></div>
          <span>4</span>
        </div>
        <button class="btn slider-nav__btn _next">
          <svg class="slider-nav__btn-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-full"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
