<section class="skills">
  <div class="container skills__container">
    <div class="skills__info">
      <h2 class="skills__title">Образование и опыт</h2>
      <ul class="list skills__list">
        <li class="skills__item">
          Окончил курс «Шоумен» в Московской Школе радио и телевидения
          на Шаболовке🎙
        </li>
        <li class="skills__item">
          Окончил курс «Импровизация. Трендовые вечеринки. PRO свадьбы»😎
        </li>
        <li class="skills__item">
          Участник команды-победителя в рамках «Forum Moscow Showweek 2023»🎬
        </li>
        <li class="skills__item">
          Актерский мастер-класс от кинорежиссера Казбека Меретукова🎞
        </li>
        <li class="skills__item">
          Выступаю в жанре Stand-Up более 5 лет, занимаюсь организацией
          юмористических мероприятий🎭
        </li>
        <li class="skills__item">Основатель комедийного сообщества</li>
        <li class="skills__item">
          Участник КВН-фестивалей и YouTube проектов 👌
        </li>
      </ul>
    </div>
    <div class="skills__slider-wrapper">
      <div class="swiper skills__slider">
        <div class="swiper-wrapper">
          <a
            href="@img/slider.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider.jpg" alt="" class="skills__slider-img" />
          </a>
          <a
            href="@img/slider-2.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider-2.jpg" alt="" class="skills__slider-img" />
          </a>
          <a
            href="@img/slider-3.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider-3.jpg" alt="" class="skills__slider-img" />
          </a>
          <a
            href="@img/slider-4.jpg"
            data-fancybox="skills"
            class="swiper-slide skills__slide"
          >
            <img src="@img/slider-4.jpg" alt="" class="skills__slider-img" />
          </a>
        </div>
      </div>
      <div class="slider-nav">
        <button class="btn slider-nav__btn _prev">
          <svg class="slider-nav__btn-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-full"></use>
          </svg>
        </button>
        <div class="slider-nav__number">
          <span>1</span>
          <div class="slider-nav__number-line"></div>
          <span>4</span>
        </div>
        <button class="btn slider-nav__btn _next">
          <svg class="slider-nav__btn-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-full"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
