.title-2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.72px;
  margin: 0px 0px 60px 0px;
  text-align: center;
  @include tablet {
    font-size: 32px;
    margin-bottom: 30px;
    line-height: 35px;
  }
  @include mobile {
    font-size: 26px;
    line-height: 30px;
  }
}
